# Settings for editors/IDEs.
# References at https://editorconfig.org/.

root = true

# Settings for all files.
[*]
	charset = utf-8
	tab_width = 2
	end_of_line = lf
	indent_style = tab
	insert_final_newline = true
	trim_trailing_whitespace = true
