# Finder settings (Mac).
.DS_Store

# Log files.
*.log
*.log.*

# Node.js modules.
node_modules/

# NPM's lockfile.
# I'm using Yarn instead, and it has it's own lockfile (yarn.lock).
package-lock.json

# Generated sources & types.
dist/
index.js
index.d.ts
